<launch>
  <node name="localizer_node" pkg="icp_localization" type="localizer_node" output="screen"/>

  <!-- Launch Stage ROS -->
  <node name="stageros" pkg="stage_ros" type="stageros" args="$(find icp_localization)/test_data/cappero.world" output="screen"/>

  <!-- Launch map_server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find icp_localization)/test_data/cappero_map.yaml" output="screen"/>

  <!-- Launch RViz with the specified configuration file -->
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(find icp_localization)/test_data/rviz.rviz" launch-prefix="bash -c 'sleep 3; $0 $@'"/>
</launch>
